@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Aladin&family=Anta&family=Bebas+Neue&family=Berkshire+Swash&family=Inconsolata:wdth,wght@113.7,200..900&family=Jacquard+24+Charted&family=Jaro:opsz@6..72&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Ojuju:wght@200..800&family=Reggae+One&family=Sedan+SC&display=swap");

.about {
  font-size: 10em;
  width: auto;
  /* Set the desired width */
  height: auto;
  /* Set the desired height */
  color: rgb(0, 3, 5);
  background-image: url("../imgaes/about1.jpg"), url("../imgaes/about2.jpg");
  background-size: cover;
  background-position: top left, bottom right;
  /* Corrected property name */
  background-color: rgba(117, 102, 102, 0.8);
}

.about-img {
  background-image: url(../imgaes/aboutintro.png);
  width: 200em;
}


.whyus::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imgaes/about2.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.3; /* Adjust the opacity as needed */
  z-index: 1;
}
.whyus {
  position: relative;
  overflow: hidden;
}
.service,
.team,
.deal {
  width: 400px;
  height: 400px;
  border: solid 2px black;
  border-radius: 10px;

}
.seviceimg{
  background-image: url(../imgaes/amboseli.jpg);
  height: 50%;
  border-radius: 10px;
}
.teamimg{
  background-image: url(../imgaes/Beach2.jpg);
  height: 50%;
  border-radius: 10px;
}
.dealimg{
  background-image: url(../imgaes/Coastanim1.jpg);
  height: 50%;
  border-radius:10px;
}
.about-content {
  color: #000;
  font-size: 50px;
  text-align: center;
  padding-top: 2em;
  font-family: "Aladin", system-ui;

}

.about-header {
  color: #000;
  font-family: "Sedan SC", serif;

  font-size: 4em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 10px;
  margin-bottom: 20px;
}

.icon1 {
  background-image: url("../imgaes/channel.png");
}

.icon2 {
  background-image: url("../imgaes/traveler.png")
}

.icon3 {
  background-image: url("../imgaes/hotel.png");
}

.icon4 {
  background-image: url("../imgaes/");
}