@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Aladin&family=Anta&family=Bebas+Neue&family=Berkshire+Swash&family=Concert+One&family=DM+Serif+Display:ital@0;1&family=Inconsolata:wdth,wght@113.7,200..900&family=Jacquard+24+Charted&family=Jaro:opsz@6..72&family=Kalam:wght@300;400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Ojuju:wght@200..800&family=Orbitron:wght@400..900&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poetsen+One&family=Reggae+One&family=Sedan+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap");
.listingname {
  font-family: "DM Serif Display", serif;
  letter-spacing: 10px;
}
.itemcontent {
  font-family: "Sedan", serif;
  font-weight: 500;

}
